/* Estilos del Index */

#img_central {
	display: flex;
	display: -webkit-flex;

	justify-content: center;
	background-color: #82c3a6;

	width: 100%;
}

#img_central img {
	width: 100%;
}

.link_int a{
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 2px 5px #02010A;
}

/* Efectos */

.animacion {
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

#img_gpo1:hover {
	transform: rotate(10deg);
	border: solid 2px;
	box-shadow: 2px 2px 5px #82c3a6;
}

#img_gpo2:hover {
	transform: translate(20px, -5px);
	border: solid 2px;
	box-shadow: 2px 2px 5px #82c3a6;
}

/*Breackpoints*/

/* Escritorio */

@media (min-width: 901px) {

	#img_central > div {
		margin: 20px 0px;
	}

	#img_gpo img {
		width: 30vw;
	}

	.link_int {
		margin: 20px 0px;
	}

}

/* Moviles */

@media (max-width: 900px) {

	.link_int,
	#img_central > div {
		width: 100vw;
		margin: 20px;
	}

}
