body {
	background-color: #000;
}

figcaption a, figcaption a:link {
	color: #02010A;
	text-decoration: none;
}

figcaption {
	text-align: right;
	font-size: .5rem;
	margin: 0px; 
}

header {
	display: flex;
	display: -webkit-flex;

	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;

	justify-content: space-between;
	align-items: baseline;
	text-align: center;
}

#cont {
	background-color: #5b7989;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;

}

#titulo {
	color: #fff;
	text-shadow: 2px 2px 5px #02010A;
	margin-left: 1rem;
}

#menu {
	margin-right: 1rem;
}

#menu a, #menu a:link {
	color: white;
}

#img_central {

	display: flex;
	display: -webkit-flex;

	justify-content: center;
	background-color: #82c3a6;
	padding: 20px;

}

#img_sec {
	
	display: flex;
	display: -webkit-flex;

	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	
	justify-content: space-around;
	background-color: #d5c75f;
	 border: solid 1px;
}

#img_sec img {
	width: 400px;
}

#img_sec div {
	padding: 20px;
}