/* Estilos del Index */

#img_central {
	display: flex;
	display: -webkit-flex;

	justify-content: center;
	background-color: #82c3a6;
	padding: 20px;
}

#img_sec {
	display: flex;
	display: -webkit-flex;

	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	
	justify-content: space-around;
	background-color: #d5c75f;
	border: solid 1px;

	width: 100%;
	text-align: center;
}

.link_int a{
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 2px 5px #02010A;
}

/* Efectos */

.animacion {
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

#img_sec1:hover {
	transform: rotate(10deg);
	border: solid 2px;
	box-shadow: 2px 2px 5px #82c3a6;
}

#img_sec2:hover {
	transform: translate(20px, -5px);
	border: solid 2px;
	box-shadow: 2px 2px 5px #82c3a6;
}

/*Breackpoints*/

/* Escritorio */

@media screen and (min-width: 901px) {

	#img_sec img {
		width: 400px;
	}

	.link_int {
		margin: 20px 0px;
	}

}

/* Moviles */

@media screen and (max-width: 900px) {

	.link_int {
		width: 100%;
		margin: 20px;
	}

}
